@import url('../webfont/opensans_regular_macroman/stylesheet.css');
@import url('../webfont/opensans_bold_macroman/stylesheet.css');
@import url('../webfont/opensans_light_macroman/stylesheet.css');
@import url('home.css');
@import url('grupos.css');
@import url('internagrupo.css');
@import url('ubicacion.css');
@import url('contactos.css');
@import url("invitaciones.css");

body{
	margin: 0px;
	padding: 0px;
	background: #fff;
	height: 100%;
	font-family: 'open_sansregular';
}
html{
	height: 100%;
}
*:focus {
    outline: none;
}
.clear{
	clear: both;
}
.bt{
	height: 44px;
	width: 219px;
	border:solid 1px #e11b4b;
	line-height: 44px;
	text-align: center;
	color: #474748;
	margin: auto;
	font-size: 18px;
	border-radius: 22px;
}
.input{
	border:none;
	border-bottom: solid 1px #858585;
	width: 240px;
	display: block;
	margin: auto;
	height: 34px;
	line-height: 34px;
	font-family: 'open_sansregular';
	color: #5b5b5b;
	text-align: center;
}
#header{
	position: fixed;
	background: #2c2b2b;
	width: 100%;
	z-index: 2;
	height: 50px;
	display: none;
}
#header .titulo{
	display: table;
	margin: auto;
	line-height: 44px;
	color: #fff;
	font-size: 17px;
	font-family: 'open_sansregular';
}
#header .logout{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	background: url("../img/logout.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center center;

}
#header .invitations{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	background: url("../img/friends.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center center;
}
#header .invitations .num{
	width: 20px;
	height: 20px;
	background-color: #d80027;
	color: #fff;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	font-family: 'open_sansregular';
	position: absolute;
	margin-top: 10px;
	display: none;
}